body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-image : url('/images/dk.jpg');
	background-repeat: repeat;
	color: white;
}

#container {
	background: black;
	width: 800px;
	margin: 0 auto;
	text-align: center;
	padding-top: 10px;
}

video {
	max-width: 600px;
	padding-bottom: 30px;
}

a {
	color: #00B7FF;
}
